<!doctype html>
<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include links.html %}
    {% include header.html %}
    <div class='container'>
      <div class="row">
        <div class="col12">
          <h1>{{ page.title }}</h1> 
        </div>
      </div>
      <div class="row">
        <div class="col4">
          <figure>
            <img src="{{ site.url }}/images/{{ page.image }}" alt="{{ page.title }}">
            <figcaption>
             {{ page.caption }}
            </figcaption>
          </figure>
        </div>
        <div class="col8">
          <h3>{{ page.welcome-message }}</h3>
            {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>