<!doctype html>
<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include links.html %}
    {% include header.html %}
    <div class='container'>
      <div class="row">
        <div class="col12">
          <section class='post'>
            <article class="post-entry">
              <h1>{{ page.title }}</h1>
              {{ content }}
            </article>
          </section>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>